ATANOR_CLOUD_MODE=remote
ATANOR_CLOUD_ENDPOINT=https://YOUR_HTTP_API_ID.execute-api.YOUR_REGION.amazonaws.com/dev
ATANOR_CLOUD_API_KEY=
ATANOR_NODE_ID=atanor-local-peer
ATANOR_CONTRIBUTION_ENABLED=true
